In [525]:
import pandas as pd
import numpy as np

from pprint import pprint
from sklearn.cross_validation import train_test_split
from sklearn.cluster import KMeans


T_TRAIN = 'raw_data/train_titanic.csv'
T_TEST = 'raw_data/test_titanic.csv'

titanic_dataframe = pandas.read_csv(T_TRAIN, header=0)

In [526]:
titanic_dataframe.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Pclass'], axis=1, inplace=True)

In [527]:
titanic_dataframe.Age = titanic_dataframe.Age.fillna(titanic_dataframe.Age.mean())

In [528]:
train, test = train_test_split(titanic_dataframe, test_size = 0.2)
X = train[['Age','Parch']]
X.head(3)

           Age  Parch
213  30.000000      0
697  29.699118      0
233   5.000000      2

In [529]:
k = 2
kmeans = KMeans(n_clusters=k, n_init=100, max_iter=300)
results = kmeans.fit_predict(X.values)
# print(results)

In [530]:
predicted = list(results)
p_id = train.PassengerId
true_val = list(train.Survived)

true_pos = np.count_nonzero(train.Survived)
true_neg = len(train.Survived) - true_pos

pred_pos = np.count_nonzero(predicted)
pred_neg = len(predicted) - pred_pos

print(true_pos)
print(true_neg)
print(pred_pos)
print(pred_neg)

281
431
183
529

In [531]:
test_dataframe = pandas.read_csv(T_TEST, header=0)
test_dataframe.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Pclass'], axis=1, inplace=True)
test_dataframe.Age = test_dataframe.Age.fillna(test_dataframe.Age.mean())
train, test = train_test_split(test_dataframe, test_size = 0.0)
X = train[['Age','Parch']]
X.head(3)
k = 2
kmeans = KMeans(n_clusters=k, n_init=100, max_iter=300)
results = kmeans.fit_predict(X.values)
print(results)
print(len(results))

[0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1
 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0
 1 0 1 0 1 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 0 1
 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0
 0 0 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0
 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 1 0 1 0 0 0 0 1 0 1 0 0 1 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 0 0 1]
418

In [532]:
result_dataframe = pd.DataFrame(columns=['PassengerId', 'Survived'])
result_dataframe.Survived = results
result_dataframe.PassengerId = test_dataframe.PassengerId
result_dataframe.to_csv('titanic.csv', index=False)