## K Nearest Neighbors (KNN) algorithm on Kaggle data.
(https://www.kaggle.com/c/titanic)

In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

Here is our initial setup:

In [86]:
import pandas
import numpy
#from scipy.stats import mode
from sklearn import neighbors
from sklearn.neighbors import DistanceMetric 
from pprint import pprint

T_TRAIN = 'raw_data/train_titanic.csv'
T_TEST = 'raw_data/test_titanic.csv'

titanic_dataframe = pandas.read_csv(T_TRAIN, header=0)
titanic_dataframe.head(5)

print('length: {0} '.format(len(titanic_dataframe)))

length: 891

### Hypothesis:

Women, children and first class passengers will be more likely to survive.

Here we'll drop the frames that don't appear to help us with out analysis:

In [87]:
titanic_dataframe.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
print('dropped')

# titanic_dataframe.describe()
titanic_dataframe.head(5)

dropped

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

### Data Clean up:

Below we'll do some cleaning of the datapoints.

Replace the unknown ages with an mean aveage age:

In [88]:
titanic_dataframe = pandas.read_csv(T_TRAIN, header=0)
avg_age_all_raw = titanic_dataframe['Age'].mean()
titanic_dataframe['Age'] = titanic_dataframe['Age'].fillna(avg_age_all_raw)

# titanic_dataframe.describe()
titanic_dataframe.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Next

1) Replaced NaN 'Embarked' values with 'E'. 

2) Created a new column 'Port' with integer values that represent the port. 

3) Created a new column 'Gender' with integer values that represent the sex. 

We then remove the previous, now unused, columns:

In [89]:
titanic_dataframe['Embarked'].unique()
titanic_dataframe['Embarked'] = titanic_dataframe['Embarked'].fillna('E')
titanic_dataframe['Port'] = titanic_dataframe['Embarked'].map({'S':1, 'C':2, 'Q':3, 'E':4}).astype(int)

titanic_dataframe['Sex'].unique()
titanic_dataframe['Gender'] = titanic_dataframe['Sex'].map({'female': 0, 'male': 1}).astype(int)
titanic_dataframe = titanic_dataframe.drop(['Sex', 'Embarked'], axis=1)

print('length: {0} '.format(len(titanic_dataframe)))

length: 891

### Clean up the "TEST data" in the same way

In the same manner that we cleaned up the training data we'll now make those same changes to the test data.

In [90]:
test_dataframe = pandas.read_csv(T_TEST, header=0)

test_dataframe.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
avg_age_all_raw = test_dataframe['Age'].mean()
test_dataframe['Age'] = test_dataframe['Age'].fillna(avg_age_all_raw)

test_dataframe['Embarked'].unique()
test_dataframe['Embarked'] = test_dataframe['Embarked'].fillna('E')
test_dataframe['Port'] = test_dataframe['Embarked'].map({'S':1, 'C':2, 'Q':3, 'E':4}).astype(int)

test_dataframe['Sex'].unique()
test_dataframe['Gender'] = test_dataframe['Sex'].map({'female': 0, 'male': 1}).astype(int)
test_dataframe = test_dataframe.drop(['Sex', 'Embarked'], axis=1)

# test_dataframe.describe()
test_dataframe.head(5)

   PassengerId  Pclass   Age  SibSp  Parch     Fare  Port  Gender
0          892       3  34.5      0      0   7.8292     3       1
1          893       3  47.0      1      0   7.0000     1       0
2          894       2  62.0      0      0   9.6875     3       1
3          895       3  27.0      0      0   8.6625     1       1
4          896       3  22.0      1      1  12.2875     1       0

In [91]:


# Start - rewrite this
# cols = titanic_dataframe.columns.tolist()
# cols = [cols[1]] + cols[0:1] + cols[2:]
# titanic_dataframe = titanic_dataframe[cols]

train_data = titanic_dataframe[cols[2: ]]
train_target = titanic_dataframe[cols[1]]
# End - rewrite this


model = neighbors.KNeighborsClassifier()
model.fit(train_data.values, train_target.values)


result = numpy.c_[test_data[:,0].astype(int), output.astype(int)]

# df_result = pandas.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])
df_result.to_csv('titanic.csv', index=False)

ValueError: could not convert string to float: 'C148'