**Problem Set 1**

In [19]:
import pandas as pd
import numpy as np
import scipy.stats as sp

titanic_train = pd.read_csv('raw_data/train_titanic.csv', header=0)

In [20]:
pclass_column = titanic_train['Pclass']
pclass_column = pclass_column.dropna()
md = sp.mode(pclass_column)
print('The mode of the passenger class was: {}'.format(md[0]))

The mode of the passenger class was: [3]

In [23]:
emb_column = titanic_train['Embarked']
emb_column = emb_column.dropna()
emb_column = emb_column.map({'C':1, 'S':2, 'Q':3}).astype(int)
md = sp.mode(emb_column)
print('The mode of embarcation int value was: {}'.format(md[0]))

The mode of embarcation was: [2]

The most common port of embarcation is Southampton

In [27]:
survivors = titanic_train.loc[titanic_train['Survived'] == 1]
sib_col = survivors['SibSp']
md = sp.mode(sib_col)
print('The mode of siblings/spouses of survivors aboard was: {}'.format(md[0]))

The mode of siblings/spouses of survivors aboard was: [0]

In [32]:
s_dev = np.std(titanic_train['Fare'], ddof=1)
t_mean = titanic_train['Fare'].mean()
t_med = titanic_train['Fare'].median()
print('The standard deviation is: {}'.format(s_dev))
print('The mean price is: {}'.format(t_mean))
print('The median price is: {}'.format(t_med))

The standard deviation is: 49.693428597180905
The mean price is: 32.2042079685746
The median price is: 14.4542

The median ticket price is within 0-1 standard deviations from the mean.

In [42]:
perc_90 = np.percentile(titanic_train['Fare'], 90)
perc_5 = np.percentile(titanic_train['Fare'], 5)
print('The 90th percentile cost is: ${}'.format(perc_90))
print('The 5th percentile cost is: ${}'.format(perc_5))

class_90 = titanic_train.loc[titanic_train['Fare'] >= perc_90]
class_5 = titanic_train.loc[titanic_train['Fare'] <= perc_5]

print('90% fare lowest class = {}'.format(class_90['Pclass'].max()))
print('90% fare highest class = {}'.format(class_90['Pclass'].min()))
print('5% fare lowest class = {}'.format(class_5['Pclass'].max()))
print('5% fare highest class = {}'.format(class_5['Pclass'].min()))

perc_5_class_1 = titanic_train.loc[(titanic_train['Fare'] <= perc_5) & (titanic_train['Pclass'] == 1)]
perc_5_class_2 = titanic_train.loc[(titanic_train['Fare'] <= perc_5) & (titanic_train['Pclass'] == 2)]
perc_5_class_3 = titanic_train.loc[(titanic_train['Fare'] <= perc_5) & (titanic_train['Pclass'] == 3)]

print('There were {} people in the 5% fare group in first class.'.format(len(perc_5_class_1)))
print('There were {} people in the 5% fare group in second class.'.format(len(perc_5_class_2)))
print('There were {} people in the 5% fare group in third class.'.format(len(perc_5_class_3)))

The 90th percentile cost is: $77.9583
The 5th percentile cost is: $7.225
90% fare lowest class = 1
90% fare highest class = 1
5% fare lowest class = 3
5% fare highest class = 1
There were 6 people in the 5% fare group in first class.
There were 6 people in the 5% fare group in second class.
There were 43 people in the 5% fare group in third class.

In [46]:
port_fare = titanic_train[['Embarked','Fare']]
port_fare = port_fare.dropna()
port_c = port_fare.loc[port_fare['Embarked'] == 'C']
port_q = port_fare.loc[port_fare['Embarked'] == 'Q']
port_s = port_fare.loc[port_fare['Embarked'] == 'S']

port_c_mean = port_c.mean()
port_q_mean = port_q.mean()
port_s_mean = port_s.mean()

The highest ticket price served the Cherbourg port.

In [47]:
port_s = titanic_train.loc[(titanic_train['Embarked'] == 'S')]
port_c = titanic_train.loc[(titanic_train['Embarked'] == 'C')]
port_q = titanic_train.loc[(titanic_train['Embarked'] == 'Q')]

port_s_sdev = port_s.std()
port_c_sdev = port_c.std()
port_q_sdev = port_q.std()

Queenstown has the most passengers of a similar class.

In [ ]:
quartile_list = [3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
survived = []
total = []
percentage = []
prev_cost = 0

for quartile in quartile_list:
    ticket = np.percentile(titanic_train['Fare'], quartile)
    survivors = titanic_train.loc[(titanic_train['Survived'] == 1) & (titanic_train['Fare'] <= ticket) & (titanic_train['Fare'] > prev_cost)]
    total_passengers = titanic_train.loc[(titanic_train['Fare'] <= ticket) & (titanic_train['Fare'] > prev_cost)]
    survived.append(len(survivors))
    total.append(len(total_passengers))
    perc = len(survivors) / len(total_passengers)
    percentage.append(perc)
    prev_cost = ticket

In [53]:
import matplotlib.pyplot as plt
plt.plot(quartile_list, percentage, 'ro')
plt.show()

NameError: name 'percentage' is not defined